# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Environment variables file
*.env

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Test and coverage files
.coverage
.pytest_cache/
htmlcov/
